body {font-size: 15px;
  font-family: Roboto;
  padding: 0px;
  margin:0px
}
.container {
  width:100%;
  margin:0 auto;
  position:relative;
  border:0px solid rgb(0, 0, 0);
}
section.container {min-height:963px}
.topnav {
  display:flex;
  min-height:30px;
  background:#33292a;
  justify-content:space-evenly;
  padding: 20px;

  }

.topnav li {
  list-style-type: none;
  font-size:25px;
  border-right:0px solid blue;
  padding:0 5px;
}

.topnav li a:hover {
  color: lightblue;
}
.topnav li a {color:white;text-decoration:none}
a.icon {display:none}

.sec1 {background: url("./fotky/bg1.jpg") 50% 50%;
    background-repeat: no-repeat;
}
.container-text {width:340px;text-align:right;bottom:11vh;right:10vw;position:absolute;}

h1 {font-size:76px;color: white}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  max-width: 900px;
  margin: 0 auto;
}

.grid-item {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;

}

.grid-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  color: #000;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}


@media screen and (width <= 768px) { /* w:390px */
  .container {width:100%}
 
  .topnav {
  /*display: none;*/
    }

    a.icon {display:block}
}

@media screen and (width <= 992px) { /* w:390px */
  .container {width:100%}
 
  .topnav {
  /*display: none;*/
    }

    a.icon {display:block}
}
.about-container{
  display: flex;
 
  gap:40px;
  align-items: center;
  max-width: 1200px;
margin: 40px auto;
}
.about-left {
flex:1;
font-family: Arial,
sans-serif;
line-height: 1.6;

}



img{
    width: 100%;
     max-width: 500px;
     border-radius: 8px;
     object-fit:cover;
}