body {font-size: 15px;
  font-family: Roboto;
  padding: 0px;
  margin:0px
}
.container {
  width:100%;
  margin:0 auto;
  position:relative;
  border:0px solid rgb(0, 0, 0);
}
section.container {min-height:963px}
.topnav {
  display:flex;
  min-height:30px;
  background:#33292a;
  justify-content:space-evenly;
  padding: 20px;

  }
nav.container{background:#33292a;}

.topnav li {
  list-style-type: none;
  font-size:25px;
  border-right:0px solid blue;
  padding:0 5px;
}

.topnav li a:hover {
  color: lightblue;
}
.topnav li a {color:white;text-decoration:none}
a.icon {display:none}

.sec1 {background: url("./fotky/bg1.jpg") 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-text {width:340px;text-align:right;bottom:11vh;right:10vw;position:absolute;}



.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  max-width: 900px;
  margin: 0 auto;
}

.grid-item {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;

}

.grid-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  color: #000;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.about-container{
  display: flex;

  gap:40px;
  align-items: center;
  max-width: 1200px;
  margin: 40px auto;
}
.about-left {
  flex:1;
  font-family: Arial,
  sans-serif;
  line-height: 1.6;

}



img{
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  object-fit:cover;
}


.whatwedo {

  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
  background-color: #33292a;
  min-height: 500px;

}

.whatwedo h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  padding: 30px 30px;
  color:white;
}

.description {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 40px;
  color: #fff;
  max-width: 800px;
  justify-self:center;
}

.activities {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 120px;
}

.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.activity img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.activity p {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}


h1.start {
    font-size: 3em;
    color:#f1f1f1;
    text-align: left;
}
p.start {

    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    line-height: 1.5;
    text-align: left;
    color: #fff;
}

.wheredoyouwanttogo {
    display:flex;
    padding: 0;
    background-color: #644b4f;
    min-height: 500px;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 5%;
    box-sizing: border-box;
}

.title-container {
    display: flex;
    justify-content:center;
    width: 50%;
    height:auto;
    background:#644b4f;
}
.details-container{
    display: flex;
    width: 50%;
    height:auto;
    flex-direction: column;
}

.contactus-container button {
    border: none;
    display:block;
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 65px;

}


.reviews{
  display:flex;
  background-color: white;
  min-height: 5px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  
}

.reviewfirst-container{
 display: flex;
 align-items: center;
 flex-direction: column;
 
}

.reviewsecond-container{
  display: flex;
  flex-direction: row;

}


.reviewfirst-container h1{
  color:#000;
  font-size: 3em;
  padding: none;
  margin: none;

}
.reviewfirst-container p{
  color: #000;
  font-size: 20px;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  padding:none;
  flex-direction: column;
  padding-left: 38%;
  padding-right: 38%;
  text-align: center;
}


.reviewsecond-container h1{
  color:#000;
  font-size: 1.2em;
  text-align: center;
  
}
.reviewsecond-container p{
  color: #000;
  font-size: 20px;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  padding:none;
  flex-direction: column;
  padding-left: 23%;
  padding-right: 23%;
  text-align: center;
}
.reviewsecond-container img{
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  margin: auto;
}

.clientreview-first{
 display: flex;
 flex-direction: column-reverse;


}
.clientreview-second{
 display: flex;
 flex-direction: column-reverse;
}



@media screen and (width <= 768px) { /* w:390px */
    .container {width:100%}

    .topnav {
        /*display: none;*/
    }

    a.icon {display:block}
}

@media screen and (width <= 992px) { /* w:390px */
    .container {width:100%}

    .topnav {
        /*display: none;*/
    }

    a.icon {display:block}
}
